<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <div id='quiz'>
    <div id='probrem'>Question: </div>
    <div class='answer correct' id='answer1'>A </div>
    <div class='answer wrong' id='answer2'>B </div>
    <div class='answer wrong' id='answer3'>C </div>
    <div class='answer wrong' id='answer4'>D </div>
    <div id='genre'>genre: Unknown</div>
    <div id='author'>author: Anonymous</div>
  </div>
  <div class="api-docs">
    <h2>API Usage</h2>
    <%methods.forEach((method)=>{%>
      <div class="api-method">
        <h3>
          <%=method.name%>
        </h3>
        <p>
          <%=method.body%>
        </p>
        <%if(method.postData){%>
          <h5>Example post data:</h5>
          <code><%=method.postData%></code>
          <%}%>
      </div>
      <%})%>
  </div>
  <script type="text/javascript" src="/javascripts/developer_quiz.js"></script>
</body>

</html>